<!DOCTYPE html>
<html>
<head>
	<title>.:Test:.</title>
	<!--Import Google Icon Font-->
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="../web/materialize/css/materialize.min.css"  media="screen,projection"/>

    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
 
</head>
<body>
	<div class="container" ng-app="Test">
	    <div class="row">
    		<div class="col s12">
    			<div class="card-panel teal lighten-2">
    				<h3>Test Angular- Json</h3>
    			</div>
    		</div>
		    	
		    <div ng-controller="ItemController as ctrl">
		    	<div class="col s8">
					<item-component items="ctrl.items"></item-component>
		    	</div>
		    	<div class="col s4">
			        <form> 
			        	<div class="col s5">
			            	<label>Descripcion:</label>
		            	</div>
		            	<div class="col s7">
		                    <input class="search-wrapper card"  
		                    	type="text" name="descripcion" 
		                    	ng-model="datos.descripcion" required>
			            </div>
			            <div class="col s5">
			            	<label>Actividad:</label>
		            	</div>
		            	<div class="col s7">
			                <input type="text" name="actividad" ng-model="datos.actividad" required>  
			            </div>
			            <div class="col s5">
			            	<label>Encargado:</label>
		            	</div>
		            	<div class="col s7">
			                <input type="text" name="encargado" ng-model="datos.encargado"> 
			            </div>
			            <div class="col s5">
			            	<label>Estatus:</label>
		            	</div>
		            	<div class="col s7">
			                <input type="text" name="encargado" ng-model="datos.estatus"> 
			            </div>
			            <div>
			                <button class="btn waves-effect waves-light teal lighten-2" 
			                		ng-click="ctrl.addItem(datos)" 
			                		ng-disabled="frm.$invalid">+Tarea</button>  
			            </div>
			        </form>  
		    	</div>
			</div>
		</div>
	</div>

	
	<!--Import jQuery before materialize.js-->
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script type="text/javascript" src="../web/js/angular1.5.min.js"></script>
    
	<!--Import File Item.js-->
    <script type="text/javascript" src="../web/js/controllers/ItemModule.js"></script>
    <script type="text/javascript" src="../web/js/controllers/ItemService.js"></script>
    <script type="text/javascript" src="../web/js/controllers/ItemController.js"></script>
    <script type="text/javascript" src="../web/js/controllers/ItemComponent.js"></script>

    

</body>
</html>

